 
    <div class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h3 class="mb-4">Founders</h3>
            <div>
              <img class="rounded-circle footerimage" src="images/head.jpg">
              <img class="rounded-circle footerimage" src="images/head.jpg">
            </div>
            
          </div>
          <div class="col-md-3 ml-auto">
            <h3 class="mb-4">Navigation</h3>
            <ul class="list-unstyled mr-5">
              <li><a href="#">Home</a></li>
              <li><a href="#">Blogs</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
            
          </div>
          <div class="col-md-4">
            

            <div>
              <h3 class="mb-4">Connect With Us</h3>
              <p>
                <a href="#"><span class="im im-facebook px-2"></span></a>
                <a href="https://www.instagram.com/express.it.out?r=nametag" target="_blank"><span class="im im-instagram pr-2"></span></a>
                <a href="#"><span class="im im-mail pr-2"></span></a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p class="m-0">
              Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Express</p>
              <p>Designed & Developed with &#10084; by <a href="https://exgro.in/" target="_blank" >ExGro</a></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  
 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous"></script>

  <script src="/javascripts/main.js"></script>
  <script src="public/javascripts/main.js"></script>
  <!-- <script src="../../public/javascripts/main.js"></script> -->
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  


  </body>
</html>