/* Base */

html {
  overflow-x: hidden;
}

body {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
  font-size: 1rem;
  background: #222c35 !important;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.card p{
  /*background-color: #959ba4;*/
  color: black;
}

hr{
  background-color: white;
}
::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }
a {
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
  color: #2f89fc; }
  a:hover {
    color: #046df4;
    text-decoration: none; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  color: white; }
  p{
    color: white;
  }

.blogs img{
    max-width: 100%;
    /*justify-content: center;*/
    border-radius: 1.25rem;
  }
  .card{
    border-radius: 1.25rem;
  }

.text-black {
  color: #000 !important; }

.site-wrap:before {
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }

.form-control {
  height: 43px;
  border-radius: 0; }
  .form-control:active, .form-control:focus {
    border-color: #222c35; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
    input:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.site-section {
  padding: 2.5em 0; }

.section-heading h2 {
  font-weight: 700;
  color: #000; }
.site-footer {
  padding: 4em 0;
  background: #333333; }
  .footerimage{
    max-width: 30%;
  }

  .site-footer p {
    color: #737373; }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: #fff; }
  .site-footer a {
    color: #999999; }
    .site-footer a:hover {
      color: white; }
  .site-footer ul li {
    margin-bottom: 10px; }
  .site-footer .footer-heading {
    font-size: 16px;
    color: #fff; }




/* Navbar */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  width: 100%;
  background: url(../images/nav.png);
}
.nav-brand img{
  max-height: 4rem;
}
 
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block;
      padding: 10px 10px; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 10px 0px;
        font-weight: 700;
        color: #000;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #2f89fc; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
       
.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  /*background: #fff;*/
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
     
 .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }

 
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: white;}
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #2f89fc; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #2f89fc; }
    
/* Blocks */
.container {
  max-width: 1200px;
  width: 100% !important; }


.site-cover {
  background-size: cover;
  background-position: top center;
  position: relative; }
  .site-cover.overlay:before {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .site-cover, .site-cover .same-height {
    padding: 7em 0; }
  .site-cover .post-entry .post-meta {
    color: #fff;
    font-size: 13px; }
    .site-cover .post-entry .post-meta .author-figure img {
      width: 30px;
      border-radius: 50%; }
  .site-cover .post-entry h2 {
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2rem;
    line-height: 1.2;
    color: #fff; }

    .site-cover .post-entry h2 a {
      color: #fff; }
  .site-cover.single-page h1 {
    font-size: 2rem;
    color: #fff; }
   
    .site-cover.single-page h1 a {
      color: #fff; }

.post-meta {
  font-size: 13px;
  color: #b3b3b3; }


.blog-entries .blog-entry {
  display: block;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  margin-bottom: 30px;
  position: relative; }
  .blog-entries .blog-entry:hover, .blog-entries .blog-entry:focus {
    opacity: .7;
    top: -1px;
    -webkit-box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important; }
  .blog-entries .blog-entry .blog-content-body {
    padding: 20px;
    border: 1px solid #efefef;
    border-top: none; }
  .blog-entries .blog-entry img {
    max-width: 100%; }
  .blog-entries .blog-entry h2 {
    font-size: 18px;
    line-height: 1.5; }
  .blog-entries .blog-entry p {
    font-size: 13px;
    color: gray; }

.blog-entries .post-meta {
  margin-bottom: 20px;
  font-size: 14px;
  color: #b3b3b3; }
  .blog-entries .post-meta .author img {
    width: 30px;
    border-radius: 50%;
    display: inline-block; }

.breadcrumb-custom {
  background: none;
  padding: 0; }
  .breadcrumb-custom li a {
    color: #2f89fc; }
    .breadcrumb-custom li a:hover {
      color: #fff; }
  .breadcrumb-custom li.active {
    color: #fff; }
  .breadcrumb-custom li.breadcrumb-item + .breadcrumb-item:before {
    content: "/";
    color: rgba(255, 255, 255, 0.3); }

.children-info li {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #dee2e6; }

.pagination {
  margin-bottom: 5em;
  text-align: center !important;
  display: block; }
  .pagination li {
    margin-right: 2px;
    margin-bottom: 3px;
    display: inline-block; }
    .pagination li a {
      border-radius: 50% !important;
      width: 40px;
      height: 40px;
      line-height: 40px;
      padding: 0;
      margin: 0;
      display: inline-block;
      text-align: center; }
      .pagination li a:focus, .pagination li a:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important; }
      .pagination li a:hover {
        background: #2f89fc;
        color: #fff;
        border: 1px solid transparent; }
    .pagination li.active a {
      border: 1px solid transparent !important; }


    .im-magnifier{
      font-size: 1.3rem;
    }
    .searchform{
      margin-right: 3rem;
    }
    body{
      background-color: #959ba4 !important;
    }
    .searchform input{
      width: 100%;
      max-height: 45px;
      background: transparent;
      border: 2px solid grey;
      padding: 1rem;
      border-bottom-left-radius: 1.25rem;
      border-top-left-radius: 1.25rem;
      color: white;
    }
    .searchform button{
      position: absolute;
      height: 45px;
      width: 3rem;
      background: grey;
      border: none;
      border-bottom-right-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
    }
    .searchform .im{
      display: inline-block;
      padding-top: 5px;
    }


.contact-form .form-group{
  border-bottom: 0px;
}

.login-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control{
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  padding: 7px 0;
  height:auto;
}
.login-form-1 .form-group, .form-group{
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  /*padding-right: 20px;*/
  position: relative;
}

.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  border-radius: 8px;
  padding: 10px 20px;
}
form p{
  margin-bottom: 0px;
  font-size: 0.9rem;
}
.files .form-group input{
  padding-left: 2rem;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 8px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid grey;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: #5cb85c;
  transform: rotate(450deg);
}
.login-form-1 .login-button {
  outline: none;
}

.thoughts{
  width:90%;
}
.about{
  font-size: 1.2rem;
}
.abouteach{
  color:grey !important;
  height: 200px;
}



/*@media (min-width: 768px) {
    .site-section {
      margin-left: 5em 0; }
    }
@media (min-width: 768px) {
.site-footer {
  padding: 5em 0; }
}
@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%; } }
    @media (min-width: 992px) {
      .site-cover .post-entry h2 {
        font-size: 3rem; }
      }
 @media (min-width: 992px) {
      .site-cover.single-page h1 {
        font-size: 5rem; } }*/


@media only screen and (max-width: 950px) {
  .openbtn{
    display: none;
  }
  p{
    font-size: 0.9rem;
  }
  .aboutimg{
    max-width: 100% !important;
  }
  .searchform{
    max-width: 7rem;
  }