<%- include("./partials/header") %>

 <div class="site-section">
      <h1 class="text-center">About Us</h1>
      <div class="container text-center mb-3">
        <hr>
        <img src="images/logo1.png" class="aboutimg">
        <p class="container mb-5 about">When your mind is so full of thoughts that each cross section in it seems to be blocked, let a pen become your brush and a piece of paper your canvas. This is when your words become you. It is easy to pen down your opinions and emotions in those pieces of paper rather than speaking them out loud. Express for us is just that piece of paper or our personal notes where we aim on pouring our heart out so that it would make it light and breezy. Moreover, We feel words lose their essence when spoken out loud, but when penned on a piece of paper they have the power to reach millions of hearts. Express will focus on our fascination with words so that when you read you lure into your thoughts and are caught in a whirlwind of emotions.</p>
      </div>
      <div class="container card mb-4">
        <div class="row mb-5 justify-content-around">
          <div class="col-md-5 text-center">
            <h2 class="text-black mt-4">Meet The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6 mb-5 text-center">
            <div class="card site-footer border-0 shadow" data-aos="fade-up">
              <div class="justify-content-center">
                <img src="images/esha.jpeg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
              </div>
            <h2 class="mb-3 h5">Eshneet Kaur Arora</h2>
            <p class="container abouteach">My motive behind ExPress was to spread hope and little gestures of love because I believe words can change the invisible and if that happens the visible will follow. I’ve always been the person who kept adventures over things and stories over stuff so I wanted to cease every moment being happy and feeling the love while writing about it. It’s an extremely special feeling when your emotions through words fill up those empty pages with so much warmth and magic.</p>
            <p class="mt-5">
              <a href="https://instagram.com/eshaarora_?igshid=nbixva3kobds" target="_blank" class="p-3"><span class="im im-instagram"></span></a>
              <a href="http://linkedin.com/in/eshneet-kaur-arora-3ba665191" target="_blank" class="p-3"><span class="im im-linkedin"></span></a>
              <a href="mailto:eshneetkaurarora@gmail.com" target="_blank" class="p-3"><span class="im im-mail"></span></a>
            </p>
            </div>            
          </div>


          <div class="col-md-6 col-lg-6 mb-5 text-center">
            <div class="card site-footer border-0" data-aos="fade-up">
              <div class="justify-content-center">
                <img src="images/prachi.jpeg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
              </div>
              <h2 class="mb-3 h5">Prachi Mangewala</h2>
              <p class="container abouteach">Writing for me is an escape. When I pour all my thoughts and worries into my words I feel the knots in my brain opening up and a smile spreading on my face. I have always been fascinated by words, how a line from your favourite novel stays with you and how a beautiful lyric from a song describes your life perfectly. This is what we aim to do at ExPress. If while reading any of our blogs your mind just asks you to stop and mutters "This is so fucking relatable" , our work at express would be done.</p>
            <p class="mt-5">
              <a href="https://instagram.com/prachi_mangewala?igshid=x6lne0zhhwnu" target="_blank" class="p-3"><span class="im im-instagram"></span></a>
              <a href="https://www.linkedin.com/in/prachi-mangewala-23a9a41a7" target="_blank" class="p-3"><span class="im im-linkedin"></span></a>
              <a href="mailto:prachimangewala@gmail.com" target="_blank" class="p-3"><span class="im im-mail"></span></a>
            </p>
            </div>
            
          </div>

        </div>
      </div>
      <div class="text-center">
        <a href="/contact" class="btn btn-outline-secondary btn-xl rounded px-4 mb-4">Contact Us</a>
      </div>
    </div>


<%- include("./partials/footer") %>