<%- include("./partials/header") %>

 <div class="site-section">
      <h1 class="text-center">Contact Us</h1>
      <div class="container">
        <hr>
        <div class="row">

          <div class="col-md-6">  
            <div class="p-4 mb-3 text-center">
              <img src="images/logo1.png" class="w-50">
              <p>We never liked the idea of being perfect and always had inclination towards what is real and raw because it gives us a story to tell and above all it satisfies our soul. Write us out to know the inside of world of express and join us in our mission of making millions of people smile.</p>
            </div>

          </div>
          <div class="col-md-6 mb-5" data-aos="flip-left" data-aos-duration="1000">

            
            <form name="contact" action="https://formsubmit.co/express.it.out.loud@gmail.com" data-netlify="true" method="POST" class="p-4 card contact-form">
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label for="firstName">First Name</label>
                  <input type="text" id="firstName" class="form-control rounded" required name="First Name">
                </div>
                <div class="col-md-6">
                  <label for="lname">Last Name</label>
                  <input type="text" id="lastName" class="form-control rounded" name="Last Name">
                </div>
              </div>
              <div class="row form-group">
                
                <div class="col-md-12">
                  <label for="email">Email</label> 
                  <input type="email" id="email" class="form-control rounded" name="email" required name="Email">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label for="subject">Subject</label> 
                  <input type="subject" id="subject" class="form-control rounded" name="subject" required name="Subject">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control rounded" name="message" required name="Message"></textarea>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12 pt-2">
                  <input type="hidden" name="_subject" value="EXPRESS Contact Form - New Submission">
                  <button type="submit" class="btn btn-outline-secondary py-2 px-4 border-0"><i class="im im-paperplane"></i></button>
                </div>
              </div>  
            </form>
          </div>


          
        </div>
      </div>
    </div>
<%- include("./partials/footer") %>