<%- include("./partials/header") %>

<div class="card container bg-dark my-4">
            <h1 class="row justify-content-center pt-2">Forgot Password</h1>
            <div class="row justify-content-center">
            <div class="login-form-1">
                <form id="login-form" class="text-left" action="/forgot" method="POST">
                    <div class="formtext pb-3">
						<p class="text-center text-white">Fill in your registered email address, you will recieve an email having instructions on how to reset your password.</p>
					</div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="username" class="sr-only">Email</label>
                                <p><input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus=""></p>
                            </div>
                        </div>
                        <button type="submit" class="login-button"><i class="im im-angle-right pb-2"></i></button>
                    </div>
                    <div class="formtext container pt-3 text-center">
                        <p class="text-white">Already have an account? <a href="/login">Login</a></p>
                        <p class="text-white py-2">New user? <a href="/register">Sign Up</a></p>
                    </div>
                </form>
            </div>
        </div>
        </div>


<%- include("./partials/footer") %>