<%- include ("./partials/header") %> 

 <div class="container">
        <div class="row mt-5">
             <div class="col-md-6">
                <div class="row justify-content-center pt-3 text-center">
                    <h1>Hi, Nice to see you again <i class="im im-smiley-o"></i></h1>
                    <img src="images/logo1.png" class="w-50">
                </div>
            </div>
            <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
                <div class="card container bg-dark py-5 mb-5">
            <h1 class="row justify-content-center">Login</h1>
            <div class="row justify-content-center">
            <div class="login-form-1">
                <form id="login-form" class="text-left" action="/login" method="POST">
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="username" class="sr-only">Username</label>
                                <p><input type="text" class="form-control" id="username" name="username" placeholder="Username" autofocus></p>
                            </div>
                            <div class="form-group">
                                <label for="password" class="sr-only">Password</label>
                                <p><input type="password" class="form-control" id="password" name="password" placeholder="Password"></p>
                            </div>
                        </div>
                        <button type="submit" class="login-button"><i class="im im-angle-right pb-2"></i></button>
                    </div>
                    <div class="formtext container pt-3 text-center">
                        <p class="text-muted">Forgot your password? <a href="/forgot">click here</a></p>
                        <p class="text-muted">New user? <a href="/register">Sign Up</a></p>
                    </div>
                </form>
            </div>
        </div>
        </div>
            </div>
        </div>
    </div>

        
<%- include ("./partials/footer") %>