<%- include ("./partials/header") %>

<div class="container">
        <div class="row mt-5">
            <div class="col-lg-6">
                <div class="row justify-content-center pt-5">
                    <h1>Welcome Folks !</h1>
                    <p class="text-center container">Sign up to the world of Express to let us know what you really feel about it <br>We would love to know your views about our blogs <i class="im im-smiley-o"></i></p>
                    <img src="images/logo1.png" class="w-50">
                </div>
                
            </div>
            <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="1000">
                <div class="card container py-5 mb-5 bg-dark">
        <div class="row justify-content-center">
            <h1>Sign Up!</h1>
        </div>
        <div class="row justify-content-center">
            <div class="login-form-1">
                <form id="register-form" class="text-left" action="/register" method="POST">
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="firstName" class="sr-only">First Name</label>
                                <p><input type="text" class="form-control py-2" id="firstname" name="firstName" placeholder="First Name" required></p>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="sr-only">Last Name</label>
                                <p><input type="text" class="form-control py-2" id="lastName" name="lastName" placeholder="Last Name"></p>
                            </div>
                            <div class="form-group">
                                <label for="username" class="sr-only">Username</label>
                                <p><input type="text" class="form-control py-2" id="username" name="username" placeholder="Username" required></p>
                            </div>
                            
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <p><input type="email" class="form-control py-2" id="email" name="email" placeholder="Email" required></p>
                            </div>
                            <div class="form-group">
                                <label for="password" class="sr-only">Password</label>
                                <p><input type="password" class="form-control py-2" id="password" name="password" placeholder="Password" required></p>
                            </div>
                            <!-- <div class="custom-file">
                                <input type="file" name="image" accept="image/*" class="custom-file-input" id="image" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Avatar</label>
                            </div> -->
                            <div class="form-group">
                                <label for="bio" class="sr-only">Bio</label>
                                <p><input type="text" class="form-control py-2" id="bio" name="bio" placeholder="Something about you..."></p>
                            </div>
                            <div class="form-group login-group-checkbox">
                                <p class="text-muted">By signing up I agree with <a href="#">terms & conditions</a></p>
                            </div>
                        </div>
                        <button type="submit" class="login-button"><i class="im im-angle-right"></i></button>
                    </div>
                    <div class="formtext container pt-2 text-center">
                        <p class="text-muted">Already have an account? <a href="/login">Login</a></p>
                    </div>
                </form>
                </div>
              </div>
            </div>
           </div>
        </div>
    </div>
    
<%- include ("./partials/footer") %>