<%- include("./partials/header") %>

<div class="card container bg-dark">
            <h1 class="row justify-content-center text-white pt-2">Reset Password</h1>
            <div class="row justify-content-center pb-4">
            <div class="login-form-1">
                <form id="login-form" class="text-left" action="/reset/<%= token %>" method="POST" >
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="password" class="sr-only">New Password</label>
                                <p><input type="password" class="form-control" id="password" name="password" placeholder="Enter new password" autofocus></p>
                            </div>
                            <div class="form-group">
                                <label for="password" class="sr-only">Confirm Password</label>
                                <p><input type="password" class="form-control" id="password" name="confirm" placeholder="Confirm your new password" autofocus></p>
                            </div>
                        </div>
                        <button type="submit" class="login-button"><i class="im im-angle-right pb-2"></i></button>
                    </div>
                </form>
            </div>
        </div>
        </div>

<%- include("./partials/footer") %>

