<%- include("../partials/header") %>

<head>
  <style type="text/css">
    .checked{
      color: orange;
    }
    .editbox{
      border: 0px !important;
    }
    .editbox input{
      border-radius: 1.25rem;
    }
  </style>
</head>

    <div class="container">
        <div class="card bg-dark m-4">
            <div class="row justify-content-center">
                <h1>New Post</h1>
            </div>
            <form class="post-form" name="contact" action="/blogs" method="POST" enctype="multipart/form-data" class="post-form container card py-3">
              <div class="login-group">
              <div class="control-group">
                <div class="form-group controls editbox py-2">
                  <!-- <label>Title</label> -->
                  <p><input type="text" class="form-control" placeholder="Title" id="name" required name="campground[name]"></p>
                </div>
              </div>
              <div class="control-group form-group files editbox py-2">
                <div class="form-group controls">
                  <!-- <label>Image</label> -->
                  <p><input type="file" class="form-control filee" placeholder="Image" id="image" required name="image" accept="image/*"></p>
                </div>
              </div>

              <div class="control-group">
                <div class="form-group controls editbox py-2">
                  <!-- <label>Description</label> -->
                  <p><input type="text" class="form-control" placeholder="Description" id="description" required name="campground[description]"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group controls editbox py-2">
                  <!-- <label>Outside content</label> -->
                  <p><input type="text" class="form-control" placeholder="Outside content" id="outside" required name="campground[outside]"></p>
                </div>
              </div>
            </div>
              <br> 
                <div class="row justify-content-center py-2">
                    <p><button type="submit" class="btn btn-success px-5">Post</button></p>
                </div>
            </form>
        </div>
    </div>
    
<%- include("../partials/footer") %>